@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100vh;
  box-sizing: border-box;
}

@layer base {
  @font-face {
    font-family: 'supernettCnLight';
    src: url(../public/font/supernett-cn-light.woff);
  }
  @font-face {
    font-family: 'supernettCnBold';
    src: url(../public/font/supernett-cn-bold.woff);
  }
  
 input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  

}
